<main id="main">
    <section id="contact" class="contact login">
        <div class="container">
            <div class="section-title" data-aos="fade-up">

            </div>
            <div class="row">


                <div class="col-lg-12 col-md-12 login-block" data-aos="fade-up" data-aos-delay="300">
                    <hr>
                    <h2>Thank you for Signing up</h2>
                    <h4>Please <a routerLink="/login">login</a> to continue</h4>

                    <hr>

                </div>

            </div>
        </div>
    </section>
</main>