.login {
    margin-top: 100px !important;
    padding: 50px;
}

.img-login {
    width: 90%;
    margin-top: 29px !important;
}

.login-block {
    margin-top: 50px;
}

.login-block button {
    float: right !important;
    width: 180px !important;
}