.login {
    margin-top: 100px !important;
    padding: 50px;
}

.img-login {
    width: 90%;
}

.login-block {
    margin-top: 100px;
}

.login-block button {
    float: right !important;
    width: 180px !important;
}

table {
    margin-top: 50px;
}

th {
    border-bottom: 2px solid pink;
    padding: 20px;
}

td {
    padding: 10px;
}