.login {
    margin-top: 100px !important;
    padding: 50px;
}

.img-login {
    width: 90%;
}

.login-block {
    margin-top: 100px;
}

.login-block button {
    float: right !important;
    width: 180px !important;
}

.cc-selector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.dep {
    background-image: url(../../assets/img/1.png);
}

.rel {
    background-image: url(../../assets/img/2.png);
}

.stress {
    background-image: url(../../assets/img/3.png);
}

.anger {
    background-image: url(../../assets/img/4.png);
}

.anxiety {
    background-image: url(../../assets/img/4.png);
}

.addition {
    background-image: url(../../assets/img/addition.png);
}

.self {
    background-image: url(../../assets/img/selfc.png);
}

.cc-selector input:active+.drinkcard-cc {
    opacity: .5;
}

.cc-selector input:checked+.drinkcard-cc {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.drinkcard-cc {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 70px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
    margin: 15px !important;
}

.drinkcard-cc:hover {
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}


/* Extras */

a:visited {
    color: #888
}

a {
    color: #999;
    text-decoration: none;
}

p {
    margin-bottom: .3em;
}